html, body{
  margin: 5%;
}

body > div > h1, ul{
  display: flex;
  justify-content: center;
}
body > div > ul > li{
  padding: 10px;
  list-style: none;
  
}
body > div > ul > li > a{
  list-style: none;
  text-decoration: none;
  color:black
}
.flower, .video{
display: block;
margin-left: auto;
margin-right: auto;
}


table{
font-family: Georgia, serif;
display: flex;
flex-direction: column;

}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.name{
  padding-bottom: 15px;
}